</div>
<body>
    <br><br>
    <div style="padding-left: 15px">
        <h1 style="font-size: 9px;">Esta página está desarrollada por Alan Patricio González Bernal durante la materia TC2005B, algunos contenidos
            pueden no tener contexto alguno más que verse bien. Queda prohibido el uso para fines distintos a los establecidos
            en el programa. Para ver el avance del código y/o documentación del mismo, acceda al <a href="https://github.com/XxGonanxX/TC2005B">repositorio</a>, en
            caso de tener dudas, contacte al creador de la página al correo del usuario o al 443-318-9133.
        </h1>
    </div>
</body>
</html>