</div>
<body>
    <br>
    <div style="padding-left: 15px">
        <h1>Esta p치gina est치 desarrollada por Alan Patricio Gonz치lez Bernal durante la materia TC2005B, algunos contenidos
            pueden no tener contexto alguno m치s que verse bien. Queda prohibido el uso para fines distintos a los establecidos
            en el programa
        </h1>
    </div>
</body>
</html>