<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lab 14</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>

    <!-- Las columnas y el título como tal, son parte de la plantilla recabada de Bulma -->

  <section class="section">
    <div class="container">
        
        <div class="columns">
            <div class="column button is-info">Alan Patricio González Bernal</div>
            <div class="column button is-info">A01067546</div>
            <div class="column button is-primary">Laboratorio 17</div>
            <div class="column button is-info"><a href="mailto:A01067546@tec.mx">A01067546@tec.mx</a></div>
            <div class="column button is-info">443-318-9133</div>
            <div class="column button is-info"><a href="https://www.instagram.com/alanpagzz/"> Instagram </a></div>
          </div>
          <div>
          </div>
          <div class = " Content has-text-centered">
            
<!-- Esto es la vista superior de mi Bulma -->